Importamos libreria a usar para ver los datos

In [1]:
# cargo las librerias que creo poder utilizar para trabajar en el proyecto

import pandas as pd
import numpy as np

CARGAMOS LOS DATOS AL PROGRAMA

In [2]:
#cargo los datos a mi plataforma para poder leerlos y ver sus contenidos


df_amazon = pd.read_csv('Datasets/amazon_prime_titles.csv')
df_disney = pd.read_csv('Datasets/disney_plus_titles.csv')
df_hulu = pd.read_csv('Datasets/hulu_titles.csv')
df_netflix = pd.read_json('Datasets/netflix_titles.json')

DUPLICO LOS DF PARA PODER TRABAJARLOS SIN QUE HAYA MODIFICACIONES EN LOS ORIGINALES

In [3]:
# duplico cada archivo del proyecto y asi asegurarme que pueda tener un archivo original
# en caso de cometer errores no deseados

dfAma = df_amazon
dfDis = df_disney
dfHul = df_hulu
dfNet = df_netflix

EXPLORO LOS DATOS

In [4]:
# Exploro cuantoas filas y columnas tienen cada  archivo y luego tomo la deseción de como trabajarlo


print('dfAma tiene', dfAma.shape,'filas y colmunas' )
print('dfDis tiene', dfDis.shape,'filas y colmunas' )
print('dfHul tiene', dfHul.shape,'filas y colmunas' )
print('dfNet tiene', dfNet.shape,'filas y colmunas' )

dfAma tiene (9668, 12) filas y colmunas
dfDis tiene (1450, 12) filas y colmunas
dfHul tiene (3073, 12) filas y colmunas
dfNet tiene (8807, 12) filas y colmunas

In [5]:
# Analizo el dataframe según su contenido interno

dfAma.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1896,s1897,TV Show,Le Mans: Racing is Everything,NaN,NaN,NaN,NaN,2017,16+,1 Season,"Documentary, Sports",The 24 Hours of Le Mans is a motor race like n...
8661,s8662,Movie,Rules of Love,Ben Gosling Fuller,"Jake Roche, Daisy Head, Paterson Joseph",NaN,NaN,2010,16+,74 min,"Arts, Entertainment, and Culture, Romance",He's a kid with no money and big dreams. She's...
5565,s5566,Movie,Night Hunter,David Raymond,"Henry Cavill, Ben Kingsley, Alexandra Daddario...",NaN,NaN,2019,R,99 min,"Action, Drama, Suspense",The hunt is on as a detective races against ti...
639,s640,Movie,The Gospel of Eureka,"Michael Palmieri, Donal Mosher","Mx Justin Vivian Bond, Lee Keating, Walter Bur...",NaN,NaN,2019,16+,73 min,Documentary,"Welcome to Eureka Springs, Arkansas, a one-of-..."
694,s695,Movie,The Days of Noah: Judgment Hour - Part 2 of 4,Michael McCaffrey,"Jeff Reich, Doug Batchelor, Stephen Bohr, Art ...",NaN,NaN,2019,ALL,90 min,"Documentary, Faith and Spirituality, Special I...",The physical evidence left behind warns us of ...

In [6]:
# miro la información del df para saber si hay datos faltantes y que clase de datos tiene

dfAma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [7]:
# creo valores para poder sustituir a los faltantes


valores_amazon = {"director":"Desconocido","cast":"Desconocido","country" :"ninguno","date_added":"0","rating":"0"} #"cast":"Ausente"

In [8]:
# sustituyo los valores faltantes a todas columnas

dfAma.fillna(value=valores_amazon, inplace=True)

In [9]:
# controlo de que no hay quedado ningun dato nulo
dfAma.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

TRANSFORMO LOS DATOS DE DISNEY

In [10]:
# miro la información del df para saber si hay datos faltantes y que clase de datos tiene
dfDis.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [11]:
# Analizo el dataframe según su contenido interno

dfDis.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [12]:
# creo valores para poder sustituir a los faltantes
valores_disney = {"director":"Desconocido","cast":"Desconocido","country" :"ninguno","date_added":"0","rating":"0"} #"cast":"Ausente",

In [13]:
# sustituyo los valores faltantes a todas columnas
# sustituyo los valores faltantes a todas columnas


dfDis.fillna(value=valores_disney, inplace=True)
dfDis.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

TRANSFORMO LOS DATOS DE HULL

In [14]:
# miro la información del df para saber si hay datos faltantes y que clase de datos tiene

dfHul.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [15]:
# creo valores para poder sustituir a los faltantes

valores_hull = {"director":"Desconocido","country" :"ninguno","cast":"Desconocido","date_added":"0","rating":"0","duration":"desconocido","description":"ninguno"} #"cast":"Ausente",

In [16]:
# sustituyo los valores faltantes a todas columnas
# sustituyo los valores faltantes a todas columnas

dfHul.fillna(value=valores_hull, inplace=True)
dfHul.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

TRANSFORMO LOS DATOS DE NETFLIX

In [17]:
# miro la información del df para saber si hay datos faltantes y que clase de datos tiene

df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB

In [18]:
# creo valores para poder sustituir a los faltantes

valores_netflix = {"director":"Desconocido","country" :"ninguno","cast":"Desconocido","date_added":"0","rating":"0","duration":"desconocido"} #"cast":"Ausente",

In [19]:
# sustituyo los valores faltantes a todas columnas
# sustituyo los valores faltantes a todas columnas

dfNet.fillna(value=valores_netflix, inplace=True)
dfNet.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

EMPIEZO A TRABAJAR LOS DATOS DE MANERA CONJUNTA

In [20]:
# creo una colmuna llamada "plataforma" para todos los archivos


dfNet['plataforma'] = ('Netflix')
dfAma['plataforma'] = ('Amazon')
dfHul['plataforma'] = ('Hulu')
dfDis['plataforma'] = ('Disney')

In [21]:
# uno todos los archivos por sus columnas 

df = pd.concat([dfAma, dfNet, dfHul, dfDis], axis=0)

In [22]:
# reemplazo valores en la columna "duration" para poder trabajarla a futuro

list_replace=[" min"," Seasons","Season","desconocido"]
list_value=["","","","0"]
df[["duration"]]=df[["duration"]].replace(list_replace,list_value,regex=True)

In [23]:
df[["duration"]]=df[["duration"]].astype(int)

In [24]:
df.duration.replace(" min","",inplace=True,regex=True)
df.duration.replace(" Season","",inplace=True,regex=True)
df.duration.replace("s","",inplace=True,regex=True)

df.listed_in.replace(" ","",inplace=True,regex=True)

df.cast.replace(" ","",inplace=True,regex=True)

In [25]:
# creo una funcion que me permite, mediante la eleccion de un año, una plataforma y su tipo de film("min o seasons")
# saber que film es la de mayor duracion

def get_max_duration(año:int, plataforma:str, duration_type:str):
   if duration_type not in ["min","season"]:
        raise ValueError("duration_type should be 'min' or 'season'")
   elif plataforma not in ["Netflix","Amazon","Disney","Hulu"]:
        raise ValueError("plataforma should be a platform name")
   else:
    if plataforma=="Amazon":
        if duration_type=="min":
            max_duration_id=df[(df["release_year"]==año) & (df["type"]=="Movie")].duration.idxmax()
            return df[(df["plataforma"]=="Amazon")].loc[max_duration_id, 'title']
        if duration_type=="season":
            max_duration_id=df[(df["release_year"]==año) & (df["type"]=="TV Show")].duration.idxmax()
            return df[(df["plataforma"]=="Amazon")].loc[max_duration_id, 'title']
    if plataforma=="Netflix":
        if duration_type=="min":
            max_duration_id=df[(df["release_year"]==año) & (df["type"]=="Movie")].duration.idxmax()
            return df[(df["plataforma"]=="Netflix")].loc[max_duration_id, 'title']
        if duration_type=="season":
            max_duration_id=df[(df["release_year"]==año) & (df["type"]=="TV Show")].duration.idxmax()
            return df[(df["plataforma"]=="Netflix")].loc[max_duration_id, 'title']
    if plataforma=="Hulu":
        if duration_type=="min":
            max_duration_id=df[(df["release_year"]==año) & (df["type"]=="Movie")].duration.idxmax()
            return df[(df["plataforma"]=="Hulu")].loc[max_duration_id, 'title']
        if duration_type=="season":
            max_duration_id=df[(df["release_year"]==año) & (df["type"]=="TV Show")].duration.idxmax()
            return df[(df["plataforma"]=="Hulu")].loc[max_duration_id, 'title']
    if plataforma=="Disney":
        if duration_type=="min":
            max_duration_id=df[(df["release_year"]==año) & (df["type"]=="Movie")].duration.idxmax()
            return df[(df["plataforma"]=="Disney")].loc[max_duration_id, 'title']
        if duration_type=="season":
            max_duration_id=df[(df["release_year"]==año) & (df["type"]=="TV Show")].duration.idxmax()
            return df[(df["plataforma"]=="Disney")].loc[max_duration_id, 'title']

In [36]:
print(get_max_duration(2020,"Netflix","min"))

NOVA: Secrets of the Shining Knight

In [27]:
#creo una funcion para saber la cantidad disponible de series y peliculas de una plataforma especificada

def get_count_plataform(plataforma):
    if plataforma not in ["Netflix","Amazon","Disney","Hulu"]:
            raise ValueError("plataforma should be a platform name")
    else:
        if plataforma not in ["Netflix","Amazon","Disney","Hulu"]:
                raise ValueError("df. should be a platform name")
        else:
            if plataforma=="Amazon":
                movies=df[(df["type"]=="Movie")&(df["plataforma"]=="Amazon")]["title"].count()
                series=df[(df["type"]=="TV Show")&(df["plataforma"]=="Amazon")]["title"].count()
                dict={"Numeros de serie":series,"Numero de peliculas":movies}
            if plataforma=="Hulu":
                movies=df[(df["type"]=="Movie")&(df["plataforma"]=="Hulu")]["title"].count()
                series=df[(df["type"]=="TV Show")&(df["plataforma"]=="Hulu")]["title"].count()
                dict={"Numeros de serie":series,"Numero de peliculas":movies}
            if plataforma=="Netflix":
                movies=df[(df["type"]=="Movie")&(df["plataforma"]=="Netflix")]["title"].count()
                series=df[(df["type"]=="TV Show")&(df["plataforma"]=="Netflix")]["title"].count()
                dict={"Numeros de serie":series,"Numero de peliculas":movies}
            if plataforma=="Disney":
                movies=df[(df["type"]=="Movie")&(df["plataforma"]=="Disney")]["title"].count()
                series=df[(df["type"]=="TV Show")&(df["plataforma"]=="Disney")]["title"].count()
                dict={"Numeros de serie":series,"Numero de peliculas":movies}
            return dict

In [28]:
print(get_count_plataform("Netflix"))

{'Numeros de serie': 2676, 'Numero de peliculas': 6131}

In [25]:
# creo una funcion que me determina que actor trabajo mas en una plataforma y un año determinado
    
def get_actor(plataforma,año):

    df_plataforma=(df[(df.plataforma==plataforma)&(df.release_year==año)&(df.cast!='Desconocido')])
    df_plataforma['cast']=df_plataforma['cast'].replace(' ,',',') 
    df_plataforma['cast']=df_plataforma['cast'].replace(', ',',') 

    lista_actores_unicos=[]

    for lista in df_plataforma['cast']:
        lista=str(lista).split(',')
    for actor in lista:
            actor=actor.strip()
            lista_actores_unicos.append(actor)
    lista_actores_unicos=list(set(lista_actores_unicos))

    lista_actores=[]
    lista_repetidos=[]
    dicc=dict()

    for lista in df_plataforma['cast']:
            lista=str(lista).split(',')
            for actor in lista:
                actor=actor.strip()
                lista_actores.append(actor)
    lista_actores_unicos=list(set(lista_actores))

    for i,e in enumerate(lista_actores):
            contador=lista_actores.count(e)
            dicc[e]=contador
        
    a=max(dicc, key=dicc.get)

    m=dicc.get(a)
    rta= str(a) + ' ' +str(m)
    return  rta

In [26]:
print(get_actor("Netflix",2018))

C:\Users\Beto\AppData\Local\Temp\ipykernel_2396\2804249583.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_plataforma['cast']=df_plataforma['cast'].replace(' ,',',')
C:\Users\Beto\AppData\Local\Temp\ipykernel_2396\2804249583.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_plataforma['cast']=df_plataforma['cast'].replace(', ',',')

AndreaLibman 8

In [31]:
# creo una funcion para obtener la plataforma en la que mas se repite el genero especificado
def get_listedin(genero:str):
    amazon_count=0
    hulu_count=0
    disney_count=0
    netflix_count=0
    for i in df[(df["plataforma"]=="Amazon")]["listed_in"]:
        if genero in i.split(","):
            amazon_count+=1
    for i in df[(df["plataforma"]=="Netflix")]["listed_in"]:
        if genero in i.split(","):
            netflix_count+=1
    for i in df[(df["plataforma"]=="Hulu")]["listed_in"]:
        if genero in i.split(","):
            hulu_count+=1
    for i in df[(df["plataforma"]=="Disney")]["listed_in"]:
        if genero in i.split(","):
            disney_count+=1
    dict_count={"Amazon":amazon_count,"Netflix":netflix_count,"Hulu":hulu_count,"Disney":disney_count}
    max_value=max(dict_count.values())
    max_platform=key = [key for key, val in dict_count.items() if val == max_value][0]
    return max_platform , max_value

In [32]:
print(get_listedin("Comedy"))

('Amazon', 2099)

FINALIZACION DEL ARCHIVO

In [33]:
# convierto mi archivo a CSV para poder subir y trabajarlo en distintas plataformas

df.to_csv("Proyecto.csv",index=False)

In [34]:
# observo como queda conformado mi df final
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma
0,s1,Movie,The Grand Seduction,Don McKellar,"BrendanGleeson,TaylorKitsch,GordonPinsent",Canada,"March 30, 2021",2014,0,113,"Comedy,Drama",A small fishing village must procure a local d...,Amazon
1,s2,Movie,Take Care Good Night,Girish Joshi,"MaheshManjrekar,AbhayMahajan,SachinKhedekar",India,"March 30, 2021",2018,13+,110,"Drama,International",A Metro Family decides to fight a Cyber Crimin...,Amazon
2,s3,Movie,Secrets of Deception,Josh Webber,"TomSizemore,LorenzoLamas,RobertLaSardo,Richard...",United States,"March 30, 2021",2017,0,74,"Action,Drama,Suspense",After a man discovers his wife is cheating on ...,Amazon
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviewswith:Pink,Adele,Beyoncé,BritneySpear...",United States,"March 30, 2021",2014,0,69,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon
4,s5,Movie,Monster Maker,Giles Foster,"HarryDeanStanton,KieranO'Brien,GeorgeCostigan,...",United Kingdom,"March 30, 2021",1989,0,45,"Drama,Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"HughJackman,LievSchreiber,DannyHuston,will.i.a...","United States, United Kingdom","June 4, 2021",2009,PG-13,108,"Action-Adventure,Family,ScienceFiction",Wolverine unites with legendary X-Men to fight...,Disney
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"BenStiller,AmyAdams,OwenWilson,HankAzaria,Chri...","United States, Canada","April 2, 2021",2009,PG,106,"Action-Adventure,Comedy,Family",Larry Daley returns to rescue some old friends...,Disney
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"TomCostello,JoHartley,KeithAllen,DickonTolson,...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107,"Biographical,Comedy,Drama","True story of Eddie Edwards, a British ski-jum...",Disney
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"ParminderNagra,KeiraKnightley,JonathanRhys-Mey...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112,"Buddy,Comedy,ComingofAge",Despite the wishes of their traditional famili...,Disney
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,CharlieTahan,United States,"April 1, 2020",2012,TV-G,2,"Action-Adventure,Animals&Nature,Animation",View one of Sparky's favorite home movies.,Disney